.saved-addresses {
  height: 60vh;
  padding: 20px;
  h4 {
    padding: 5px;
    font-size: 18px;
  }
  .sa-container {
    max-height: 430px;
    overflow-y: auto;
    padding: 5px;
  }
  .address-box {
    border-top: 3px solid #ddd;
    padding: 15px 5px;
    .name {
      font-size: 16px;
      font-weight: bold;
      margin: 5px 0;
      color: #3b5d17;
    }
    .adr {
      font-size: 14px;
      line-height: 1;
      color: #999999;
    }
  }
  .add-new {
    margin: 10px 0;
    .add-new-btn {
      background-color: #1a6c5e;
      color: #fff;
      width: 100%;
      text-align: center;
      padding: 15px;
      border: none;
      border-radius: 5px;
    }
  }
  .add-controls {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    .header {
      font-weight: bold;
    }
    .controls {
      .name-box {
        display: flex;
        align-items: flex-end;
      }
      .small-controls {
        display: flex;
        align-items: flex-end;
      }
    }
  }
}
