.complexItemContent {
  color: white;
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.backgroundLeft {
  align-items: flex-end;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  width: 200px;
  max-width: 200px;
  text-align: center;
  padding: 30px;
  height: 100px;
  color: rgb(255,255,255);
  font-weight: bold;
}

// svg {
//   fill: white;
//   width: 32px;
//   height: 32px;
//   margin-top: -4px;
// }
