.otp-cont {
  padding: 3px;
  margin: 20px auto;
  width: 220px;
  .partitioned {
    width: 40px;
    height: 50px;
    margin: 5px;
    border: 1px solid #ddd;
    padding: 8px;
    color: #444;
    font-size: 32px;
  }
}
